#movies img,
#movie img {
  width: 100%;
}
.brand-text {
  font-size: 2rem;
}

@media (min-width: 960px) {
  #movies .col-md-3 .well {
    height: 390px;
  }

  #movies .col-md-3 img {
    height: 240px;
  }
}
